# Приклад конфігурації змінних
# Скопіюйте цей файл як terraform.tfvars та налаштуйте під свої потреби

aws_region = "eu-central-1"

cluster_name    = "my-eks-cluster"
cluster_version = "1.28"

vpc_cidr = "10.0.0.0/16"

environment = "dev"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 4
